@{
    ViewBag.Title = "Logon";
    Layout = null;
}
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />

<div class="row" style="text-align:center;margin-top:200px">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        @*<form action="LogOn" method="post">*@
        <div class="row">
            <h2>LogOn</h2>
        </div>
        <p style="height:20px"></p>
        <div class="row">
            <div class="col-md-3" style="text-align:center">
                UserName：
            </div>
            <div class="col-md-7">
                <input class="form-control" type="text" name="userName" placeholder="Please Enter Your UserName" />
            </div>
            <div class="col-md-2">
                <span id="u_tip" class="label label-warning"></span>
            </div>
        </div>
        <p style="height:20px"></p>
        <div class="row">
            <div class="col-md-3" style="text-align:center">
                PassWord：
            </div>
            <div class="col-md-7">
                <input class="form-control" type="password" name="passWord" placeholder="Please Enter Your PassWord" />
            </div>
            <div class="col-md-2">
                <span id="p_tip" class="label label-warning"></span>
            </div>
        </div>
        <p style="height:10px"></p>
        <div class="row">
            <div id="logon_tip" class="alert alert-danger" style="text-align:center;margin:0 auto;">
                
            </div>
        </div>
        <p style="height:10px"></p>
        <div class="row">
            <div class="col-md-6" style="text-align:right">
                <button id="reset" type="button" class="btn btn-default">Reset</button>
            </div>
            <div class="col-md-6" style="text-align:left">
                <button id="submit" class="btn btn-success">LogOn</button>
            </div>
        </div>
        @*</form>*@
    </div>
    <div class="col-md-4"></div>
</div>

<script type="text/javascript">
    $(function () {
        var usr = $("[name=userName]");
        var pwd = $("[name=passWord]");
        var utip = $("#u_tip");
        var ptip = $("#p_tip");
        var logontip = $("#logon_tip");
        logontip.hide();

        usr.on('keyup', function () {
            utip.hide();
        });
        pwd.on('keyup', function () {
            ptip.hide();
            logontip.hide();
        });
        $("#reset").click(function () {
            usr.val("");
            pwd.val("");
        });

        $("#submit").click(function () {
            if (!usr.val()) {
                utip.show();
                utip.text("用户名不能为空");
                return;
            }
            if (!pwd.val()) {
                ptip.show();
                ptip.text("密码不能为空");
                return;
            }
            $.ajax({
                url: 'LogOn',
                type: 'Post',
                dataType: 'Json',
                data: { userName: usr.val(), passWord: pwd.val() },
                success: function (data) {
                    if (data.status) {
                        window.location.href = '/Home/Index';
                    } else {
                        logontip.show();
                        logontip.text(data.message);
                    }
                }
            });
        });
    });
</script>