@{
    ViewBag.Title = "Index";
}
<div class="row">
    <p><a href="#">ArticleList</a></p>
</div>
<div class="row">
    <table>
        <tr>
            <td>Header：</td>
            <td><input class="form-control" /></td>
            <td><button class="btn btn-primary">Search</button></td>
        </tr>
    </table>
</div>


<div class="row" style="height:750px">
    <div class="col-md-12">
        <div class="row">
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>Header</th>
                        <th>Picture</th>
                        <th>Content</th>
                        <th>CreateTime</th>
                        <th>CreateUser</th>
                        <th>Options</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>111</td>
                        <td>222</td>
                        <td>333</td>
                        <td>4444</td>
                        <td>555</td>
                        <td><a class="btn-link" href="#">详情</a></td>
                    </tr>
                    <tr>
                        <td>111</td>
                        <td>222</td>
                        <td>333</td>
                        <td>4444</td>
                        <td>555</td>
                        <td>66756tu76</td>
                    </tr>
                    <tr>
                        <td>111</td>
                        <td>222</td>
                        <td>333</td>
                        <td>4444</td>
                        <td>555</td>
                        <td>66756tu76</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="row" style="text-align:right">
            <nav>
                <ul class="pagination">
                    <li>
                        <a href="#">共40</a>
                    </li>
                    <li>
                        <a href="#" aria-label="First">
                            <span aria-hidden="true">First</span>
                        </a>
                    </li>
                    <li>
                        <a href="#" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">5</a></li>
                    <li><a href="#">6</a></li>
                    <li><a href="#">7</a></li>
                    <li><a href="#">8</a></li>
                    <li>
                        <a href="#" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                    <li>
                        <a href="#" aria-label="Last">
                            <span aria-hidden="true">Last</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>
