body {
    font-family: 'Microsoft YaHei' !important;
}

input, textarea {
    margin: 0;
    padding: 0;
    outline: none;
}



/*分页*/
.myPager {
    margin: 20px auto;
    overflow: hidden;
}

    .myPager ul {
        margin: 0 10px 0 0;
    }

    .myPager li {
        float: left;
        list-style: none;
        margin: 0 5px;
    }

        .myPager li a {
            display: block;
            border: 1px solid #e2e2e2;
            line-height: 30px;
            text-align: center;
            border-radius: 5px !important;
            height: 30px;
            width: 50px;
            background-color: #fff;
        }

        .myPager li input {
            height: 30px;
            width: 100px;
            border-radius: 5px !important;
        }

        .myPager li a:hover {
            text-decoration: none;
        }

/*qrcode start*/
.floatBox {
    position: fixed;
    bottom: 50px;
    right: 20px;
    border: 1px solid #e2e2e2;
    background-color: rgba(200,200,200,0.5);
    border-radius: 3px;
    opacity: 0;
    transition: all 1s;
}

    .floatBox a {
        display: block;
        text-align: center;
        text-decoration: none;
    }

        .floatBox a:hover i {
            color: #c2c2c2;
        }

        .floatBox a i {
            margin: 10px;
            display: block;
            color: #ffffff;
            font-size: 30px;
        }

    .floatBox .bottom {
        position: relative;
        /*overflow: hidden;*/
    }

        .floatBox .bottom a:hover + .qrcode {
            display: block;
        }

        .floatBox .bottom .qrcode {
            position: absolute;
            right: 60px;
            bottom: -10px;
            padding: 10px;
            background-color: #ffffff;
            border-radius: 3px;
            display: none;
            transition: all 2s;
        }

            .floatBox .bottom .qrcode:before {
                position: absolute;
                content: '';
                right: -19px;
                bottom: 15px;
                width: 0px;
                height: 0px;
                border: 10px solid transparent;
                border-left-color: #ffffff;
                display: block;
            }

        .floatBox .bottom:hover .qrcode {
            display: block;
        }

        .floatBox .bottom .qrcode img {
            display: block;
            width: 100px;
            height: 100px;
        }
@media(max-width:767px){
    .floatBox .bottom {
            display: none;
        }
}
/*qrcode end*/
