body {
    font-family: 'Microsoft YaHei' !important;
}

input, textarea {
    margin: 0;
    padding: 0;
    outline: none;
}



/*分页*/
.myPager {
    margin: 20px auto;
    overflow: hidden;
}

    .myPager ul {
        margin: 0 10px 0 0;
    }

    .myPager li {
        float: left;
        list-style: none;
        margin: 0 5px;
    }

        .myPager li a {
            display: block;
            border: 1px solid #e2e2e2;
            line-height: 30px;
            text-align: center;
            border-radius: 5px !important;
            height: 30px;
            width: 50px;
            background-color: #fff;
        }

        .myPager li input {
            height: 30px;
            width: 100px;
            border-radius: 5px !important;
        }

        .myPager li a:hover {
            text-decoration: none;
        }

/*qrcode start*/
.floatBox {
    position: fixed;
    bottom: 50px;
    right: 20px;
    border: 1px solid #e2e2e2;
    background-color: rgba(200,200,200,0.5);
    border-radius: 3px;
    display: none;
}

    .floatBox a {
        padding: 10px;
        display: block;
        text-align: center;
        text-decoration: none;
    }

        .floatBox a i {
            display: block;
            color: #ffffff;
            font-size: 30px;
        }

    .floatBox .top:hover, .bottom:hover {
        background-color: rgba(200,200,200,0.8);
    }

    .floatBox .bottom {
        border-top: 1px solid #ffffff;
    }

        .floatBox .bottom a {
            padding: 4px;
        }

        .floatBox .bottom .qrcode {
            position: absolute;
            right: 60px;
            bottom: 0px;
            padding: 10px;
            background-color: #ffffff;
            border: 1px solid #e2e2e2;
            border-radius: 3px;
            display: none;
        }


        .floatBox .bottom:hover .qrcode {
            display: block;
            opacity: 1;
        }

        .floatBox .bottom .qrcode img {
            display: block;
            width: 100px;
            height: 100px;
        }

        .floatBox .bottom .qrcode p {
            text-align: center;
            margin: 0 0 5px;
            color: #666666;
        }

        .floatBox .bottom .qrcode i {
            position: absolute;
            display: block;
            right: -7px;
            bottom: 20px;
            width: 13px;
            height: 13px;
            background-color: #ffffff;
            border-top: 1px solid #e2e2e2;
            border-right: 1px solid #e2e2e2;
            transform: rotate(45deg);
        }

            .floatBox .bottom .qrcode i:before {
                position: absolute;
                display: block;
                content: '';
                right: -2px;
                bottom: -8px;
                width: 18px;
                height: 34px;
                transform: rotate(-45deg);
            }

@media(max-width:767px) {
    .floatBox .bottom {
        display: none;
    }
}
/*qrcode end*/
