@{
    ViewBag.Title = "TagHtml";
}
@model List<Qin.Blog.Entity.Tag>
@if (Model != null && Model.Count > 0)
{
    <div class="widget">
        <h4 class="title">标签云</h4>
        <div class="content tag-cloud">
            @foreach (var item in Model)
            {
                <a class="@(ViewBag.TagIndex == item.TagName ? "active" : "")" href="@Url.Action("TagPages", "Article")?@item.TagName">@item.TagName</a>
            }
        </div>
    </div>
}
else
{
    <div class="widget">
        <h4 class="title">标签云</h4>
        <div class="content tag-cloud">
            <a href="javascript:;">HTML/CSS</a>
            <a href="javascript:;">JavaScript</a>
            <a href="javascript:;">CSS3</a>
            <a href="javascript:;">HTML5</a>
            <a href="javascript:;">JQUERY</a>
            <a href="javascript:;">AngularJS</a>
            <a href="javascript:;">Node.js</a>
            <a href="javascript:;">Bootstrap</a>
            <a href="javascript:;">ASP.NET</a>
        </div>
    </div>
}


