@using System.Web.Optimization;
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
    <meta name="renderer" content="webkit">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <!--优先使用 IE 最新版本和 Chrome-->
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <!--禁止百度SiteApp转码-->
    <meta http-equiv="Cache-Control" content="no-siteapp">
    <link rel="shortcut icon" href="images/end.ico" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="~/Content/src/scss/bts/stylesheets/personbt.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/src/scss/index.css" />
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script src="~/Scripts/jquery.md5.js"></script>
    <title>前端汇聚地</title>
</head>
<body>
    @RenderBody()
    <footer class="footer">
        <div class="container">
            <p class="aWrap">
                <a href="#">网站简介</a>
                <a href="#">网站使用说明</a>
                <a href="#">关于我们</a>
            </p>
            <p class="copyR">Copyright © 2015 VisualTec，Technology Support By Keefe<br />Email：qinfengwangyi@163.com</p>
        </div>

    </footer>
</body>
</html>